{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .search-bar { margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between; }
        .search-bar input[type="text"] { flex: 1; margin-right: 10px; padding: 5px; }
        .add-button { text-align: right; margin-top: 20px; }
    </style>

    <div class="example-wrapper">
        <div class="search-bar">
            <form method="get" action="{{ path('site_search') }}">
                <label for="search">Le nom contient :</label>
                <input
                        type="text"
                        id="search"
                        name="search"
                        placeholder="Rechercher un site"
                        value="{{ app.request.query.get('search') }}"
                >
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
        </div>

        {% include 'components/sites.html.twig' %}

        <div class="add-button">
            <a href="{{ path('site_add') }}" class="btn btn-success">Ajouter</a>
        </div>
    </div>
{% endblock %}
