
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: 'Monserrat', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	scroll-behavior: smooth;

	@apply min-h-screen w-full p-0 m-0 flex flex-col items-center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yatra One', cursive;
}

#burger-menu-toggle {
	margin-right: 3rem;
}

#mobile-menu {
	left: -0.45rem;
}

input, button {
	@apply border-2 border-gray-300 rounded-lg p-2 focus:border-cyan-600 focus:outline-none;
}