{% extends 'base.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="search-bar">
            <form method="get" action="{{ path('place_search') }}">
                <label for="search" class="text-gray-600 font-semibold mr-4">Le nom contient :</label>
                <input
                        type="text"
                        id="search"
                        name="search"
                        placeholder="Rechercher un lieu"
                        value="{{ app.request.query.get('search') }}"
                >
                <button type="submit" class="border-none align-middle">
                    <span class="material-symbols-rounded text-3xl text-cyan-600">search</span>
                </button>
            </form>
        </div>

        {% include 'components/places.html.twig' %}

        <div class="flex justify-end mt-6">
            <a href="{{ path('place_add') }}" class="bg-cyan-600 text-white px-6 py-2 border-none rounded-full hover:bg-cyan-700 transition">Ajouter</a>
        </div>
    </div>
{% endblock %}

