<div id="filters" class="mb-4">
    <div class="row">
        <div class="col-md-4 mb-3">
            <input type="text" id="filter-name" placeholder="Rechercher par nom" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
            <label>Date de début</label>
            <input type="date" id="filter-start-date" class="form-control">
        </div>
        <div class="col-md-4 mb-3">
            <label>Date de fin</label>
            <input type="date" id="filter-end-date" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <select id="filter-site" class="form-control">
                <option value="">Tous les sites</option>
                {% for site in sites %}
                    <option value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <select id="filter-participation" class="form-control">
                <option value="">Toutes les sorties</option>
                {#                    <option value="created">Mes sorties créées</option>#}
                <option value="participating">Inscrit</option>
                <option value="not_participating">Non inscrit</option>
            </select>
        </div>
    </div>
    <button id="filter-reset" class="btn btn-secondary mt-2">Réinitialiser</button>
</div>