<footer class="bg-amber-600 w-[95vw] text-center p-3 mt-4">
    <p>&copy; {{ "now"|date("Y") }} Sortir.com - Tous droits réservés. RGPD blahblah mention légales, CGU et politique confidentialité </p>
</footer>
