<footer class="bg-amber-600 w-[60vw] rounded-t-full bottom-0 text-center p-12 md:p-8 lg:p-4 mt-8">
    <p>&copy; {{ "now"|date("Y") }} Sortir.com - Tous droits réservés. RGPD blahblah mention légales, CGU et politique confidentialité </p>
</footer>
