<nav>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="">Mon profil</a></li>
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
    </ul>
</nav>