<nav>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li>
            {% if app.user %}
                <li><a href="{{ path('participant_detail', { id: app.user.id }) }}">Mon profil</a></li>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </li>
    </ul>
</nav>