<div>
	<table>
		<thead>
			<tr>
				<th>Nom des Sites</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				<tr>
					<td>{{ site.name }}</td>
					{% if site.sorties|length < 1 or site.participants|length < 1 %}
						<td class="action-buttons">
							<a href="{{ path('site_edit', { id: site.id }) }}">Modifier</a>
							<a href="{{ path('site_delete', { id: site.id }) }}" class="delete" onclick="return confirm('Voulez-vous vraiment supprimer ce site ?');">Supprimer</a>
						</td>
					{% else %}
						<td class="action-buttons">
							<a>action impossible</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Aucun site trouvée.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
